body {
  background-color: #ffffff;
  color: #161616;
}

.navbar {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
}

.portal {
  background-color: #0e5ed6;
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff;
}

.navbar-brand:hover {
  color: #dfdfdf;
}

.container {
  padding-top: 0px;
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  padding: 20px;
}

.bubble {
  background-color: #ffffff;
  border: 1px solid d2d2d2;
  border-radius: 7px;
  padding: 20px;
  margin-bottom: 20px;
}

.bubbleH {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  padding: 20px;
  margin: 20px 0px 40px 40px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  color: #161616;
}
.form-control {
  background-color: #ffffff;
  border-color: #c5c5c5;
  color: #161616;
}
.form-control:focus {
  border-color: #c5c5c5;
  background-color: #ffffff;
  color: #161616;
}

.placesearch {
  background-color: #ffffff;
  color: #161616;
}
.placesearch:focus {
  background-color: #ffffff;
  color: #161616;
}

.btn {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #f8f8f8;
}
.btn:hover {
  background-color: #073c8a;
  border-color: #073c8a;
}


.me-2 {
  background-color: #fffefe;
  border-color: #ffffff;
  color: #fff;
}

.body {
  padding-top: 100px;
}

/* Cambiar el color del placeholder del campo de correo */
#correo::placeholder {
  color: #999; /* Puedes ajustar el color según tus preferencias */
}


img {
  border-color: #121212;
}

.data {
  margin-bottom: 20px;
  background-color: #121212;
  padding: 20px 20px 0px 20px;
  padding-bottom: 40px;
}

.acount {
  margin-left: -10px;
}

.php {
  background-color: #282828;
  border-radius: 7px;
  padding: 20px;
  font-size: 17px;
}

.gender {
  margin-top: 20px;
  height: 75px;
}

.formulario__validacion {
	opacity: 0;
}

.formulario__mensaje-exito {
	height: 45px;
	line-height: 45px;
	background: #283f25;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #F66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}


.formulario__mensaje-activo {
	display: block;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario_correcto .formulario__validacion {
	color: #66c96e;
	opacity: 1;
}

.formulario_incorrecto .formulario__validacion {
	color: rgb(214, 113, 113);
	opacity: 1;
}


.modal-content {
  border-color: #282828; /* Borde del modal en rojo */
}
.modal-header,
.modal-footer {
  background-color: #282828; /* Fondo de cabecera y pie del modal en rojo */
  color: #dfdfdf;
}