body {
  background-color: #ffffff;
  color: #161616;
}

.navbar {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
}

.portal {
  background-color: rgb(22, 89, 190)
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff;
}

.navbar-brand:hover {
  color: #dfdfdf;
}

.container {
  padding-top: 0px;
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  padding: 20px;
}

.bubble {
  background-color: #ffffff;
  border: 1px solid d2d2d2;
  border-radius: 7px;
  padding: 20px;
  margin-bottom: 20px;
}

.bubbleH {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  padding: 20px;
  margin: 20px 0px 40px 40px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  font-weight: bold;
  color: #fff;
}
.form-control {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}
.form-control:focus {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #161616;
}

.placesearch {
  background-color: #ffffff;
}
.placesearch:focus {
  background-color: #ffffff;
  color: #bebebe;
}

.btn {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #f8f8f8;
}
.btn:hover {
  background-color: #073c8a;
  border-color: #073c8a;
  color: #fff;
}

.me-2 {
  background-color: #fffefe;
  border-color: #ffffff;
  color: #161616;
}

.body {
  padding-top: 40px;
}

/* Cambiar el color del placeholder del campo de correo */
#correo::placeholder {
  color: #999; /* Puedes ajustar el color según tus preferencias */
}


.logo {
  margin-right: 20px; /* Ajusta el valor según la separación deseada */
}


.table {
  /* centrar etxto de forma vertical */
  vertical-align: middle;

  /* centrar texto de forma horizontal */
  text-align: center;

}