body {
  background-color: #121212;
  color: #fff;
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff;
}

.container {
  padding-top: 0px;
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #3f3f3f;
  border-radius: 6px;
  padding: 20px;
}

.bubble {
  background-color: #282828;
  border-radius: 7px;
  padding: 20px;
  margin-bottom: 20px;
}

.bubbleH {
  background-color: #282828;
  border-radius: 7px;
  padding: 20px;
  margin: 20px 0px 40px 40px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  font-weight: bold;
  color: #fff;
}
.form-control {
  background-color: #282828;
  border-color: #282828;
  color: #fff;
}
.form-control:focus {
  border-color: #282828;
  background-color: #282828;
  color: #fff;
}

.placesearch {
  background-color: #ffffff;
}
.placesearch:focus {
  background-color: #ffffff;
  color: #000000;
}

.btn {
  background-color: #a688fa;
  border-color: #a688fa;
  color: #000000;
}
.btn:hover {
  background-color: #372e4c;
  border-color: #372e4c;
  color: #fff;
}

.me-2 {
  background-color: #fffefe;
  border-color: #ffffff;
  color: #fff;
}

.body {
  padding-top: 40px;
}

/* Cambiar el color del placeholder del campo de correo */
#correo::placeholder {
  color: #999; /* Puedes ajustar el color según tus preferencias */
}

.bg-dark {
  background-color: #121212 !important;
}

.bg {
  background-color: #372e4c;
}

.logo {
  margin-right: 20px; /* Ajusta el valor según la separación deseada */
}


.table {
  /* centrar etxto de forma vertical */
  vertical-align: middle;

  /* centrar texto de forma horizontal */
  text-align: center;

}